# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2021, 2022, Jeffrey H. Johnson <trnsz@pobox.com>

.w linguist-vendored
.hlp linguist-vendored
.nr linguist-vendored
.doc linguist-vendored
.md linguist-vendored
*.w linguist-vendored
*.hlp linguist-vendored
*.nr linguist-vendored
*.doc linguist-vendored
*.md linguist-vendored
Makefile linguist-vendored
makefile linguist-vendored
.mak linguist-vendored
*.mak linguist-vendored
